<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<form method="get" action="/quizes">
    Buscar: 
    <input type="text" name="search" value="Introduzca una cadena"/>
    <input type="submit" value="Buscar"/>
</form>
